@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Training Management System using ASP.Net</h1>
    <p class="lead">This is a Training Management System named FPT TMS developed by CQ Team</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Training Staff</h2>      
        <p>All of the staffs in business of FPT school and university</p>
    </div>
    <div class="col-md-4">
        <h2>Trainer</h2>
        <p>All of the lecturers of FPT school and university</p>
    </div>
    <div class="col-md-4">
        <h2>Trainee</h2>
        <p>All of the students of FPT school and university</p>
    </div>
</div>