@model IEnumerable<DemoProject1.Models.Trainee>
@{
    ViewBag.Title = "CourseTrainees";
}

<h2>CourseTrainees</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Trainees</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.User.Email</td>
            </tr>
        }
    </tbody>
</table>